@import "tailwindcss";

img {
  user-select: none;
}

:root {
  --background: #111620;
  --foreground: #ededed;
  --light-bg: #1C2233;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111620;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
